/* 
    Document   : mainmenu
    Created on : Aug 25, 2009, 4:24:18 PM
    Author     : Andres
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

